/* GRIDTEST */
/* 
Colors
#b5b2b5 - bg grey
#6b8ec6 - primary blue

#450e45 - Kickstart background color 
#f2a788 - Kickstart text and floppy drive color

#f72000 - Guru meditation error Red
#f7ae00 - Guru Orange
#f7ee00 - Guru Yellow
#5cfc0d - Guru Green
* 
* https://github.com/justinzero/amiga.css/
* 
* Basic CSS Components for Kickstarting your web site into Amiga Workbench 3.1 

Author: https://github.com/justinzero
*/

html, body {
   width: 100%;
   height: 100%;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  cursor: url('./assets/amiga-cursor.png'), auto;
  font-family: 'Press Start 2P', monospace;
  font-size: 1.25em;
  font-weight: 500;
  font-stretch: extra-condensed;
  line-height: 1.5;
  color: #000000;
  text-align: left;
  background-color: #b5b2b5;
}

a, button {
   cursor: inherit; /* replace with wb crosshair later */
   outline: none;
}

a {
   text-decoration: none;
   color: #450e45;
}

a:hover {
   color: #fff;
   background-color: #6b8ec6;
}

button {
   font: inherit;
   background-color: inherit;
   position: relative;
   display: inline-block;
   padding: 1rem 1rem;
   margin: 4px;
   text-align: center;
   vertical-align: middle;
   border-style: solid;
   border-width: 4px 6px 4px 6px;
   border-color: #fff #000 #000 #fff;
}

button:active {
   background-color: #999;
   border-color: #000 #fff #fff #000;
}

/* Fixed: Changed 'window resizer' to '.window-resizer' and 'window wrap' to '.window-wrap' */
.window {
   box-sizing: border-box;
   background-color: #aaa;
   margin: 50px auto;   
   min-height: 200px;
   width: 60%;
   height: 50%;
   border-style: solid;
   border-width: 6px 3px 6px 3px;
   border-color: #fff #000 #000 #fff;
   overflow: hidden;
   resize: both;
}

.window:active {
   background-color: #999;
   border-color: #000 #fff #fff #000;
}

/* Corrected selector .window-resizer */
.window-resizer {
  width: 100px;
  height: 100px;
  background: white;
  overflow: hidden;
  resize: both;
}

/* Corrected selector .window-wrap */
.window-wrap {
  width: min-content;
  position: relative;
}

.window-wider {
   box-sizing: border-box;
   background-color: #aaa;
   margin: 50px auto;   
   min-height: 200px;
   width: 60%;
   height: 100%;
   border-style: solid;
   border-width: 6px 3px 6px 3px;
   border-color: #fff #000 #000 #fff;
   overflow: hidden;
   resize: both;
}

.window-wider:active {
   background-color: #999;
   border-color: #000 #fff #fff #000;
}

.window-less-height {
   box-sizing: border-box;
   background-color: #aaa;
   margin: 50px auto;   
   min-height: 200px;
   width: 60%;
   height: 30%;
   border-style: solid;
   border-width: 6px 3px 6px 3px;
   border-color: #fff #000 #000 #fff;
   overflow: hidden;
   resize: both;
}

.window-less-height:active {
   background-color: #999;
   border-color: #000 #fff #fff #000;
}

.title-bar {
   padding: 0.6rem;
   padding-left: 2rem;
   background-color: #6b8ec6;
   color: #000000;
   border-bottom: 2px solid #000000; 
   overflow: hidden;
   white-space: nowrap;
}

/* Disabled drag functionality on title bar using pointer-events */
.window-title {
   display: inline-block;
   vertical-align: center;
   pointer-events: none; /* Disables drag functionality on the title bar */
}

.window p {
   padding: 2rem;
   display: inline-block;
   line-height: 1.6;
}

.center-buttons {
   text-align: center;
   padding: 2em;
}

.right-buttons {
   text-align: right;
   padding: 2em;
}

.left-buttons {
   text-align: left;
   padding: 2em;
}

#crashModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 1.0);
  color: #f72000;
  font: inherit;
}

.gurubox {
   width: 100%;
   box-sizing: border-box;
   border: 12px solid #f72000;
   text-align: center;
   padding: 1em;
   animation: failBlink 2s infinite;
}

@keyframes failBlink {
   0% {border-color: #f72000;}
   49% {border-color: #f72000;}
   50% {border-color: transparent;}
   99% {border-color: transparent;}
   100% {border-color: #f72000;}
}

@media(max-width:720px) {
   .window {
      width: 100vw; 
      height: 100vh;
      margin-top: 0;
   }
}

/* Title Bar for Windows (with Minimize and Close buttons) */
.title-bar {
   padding: 0.6rem;
   padding-left: 2rem;
   background-color: #6b8ec6;
   color: #000000;
   border-bottom: 2px solid #000000; 
   overflow: hidden;
   white-space: nowrap;
   position: relative; /* Ensure buttons are aligned */
}

.title-bar .btn {
   position: absolute;
   pointer-events: all; /* Ensures buttons are clickable */
   top: 50%;
   transform: translateY(-50%);
   width: 20px;
   height: 20px;
   background-color: #fff;
   color: #000;
   border: 2px solid #000;
   border-radius: 50%;
   cursor: pointer;
}

.title-bar .minimize-btn {
   right: 30px;
}

.title-bar .close-btn {
   right: 10px;
}

/* Window Hidden When Minimized */
.window.minimized {
   display: none;
}

/* Add some hover effects to the buttons */
.title-bar .btn:hover {
   background-color: #6b8ec6;
   color: #fff;
}

.icon {
   width: 60px;
   height: 80px;
   text-align: center;
   margin: 10px;
   cursor: pointer;
   background-color: #f7f7f7;
   border: 2px solid #6b8ec6;
   border-radius: 10px;
   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.icon img {
   width: 40px;
   height: 40px;
   margin-bottom: 5px;
}

.icon p {
   font-size: 0.8em;
   color: #450e45;
}

/* Make FontAwesome icons larger or styled */
.fas {
    font-size: 1.5em;  /* Increase icon size */
    color: #450e45;    /* Change icon color */
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's on top of other content */
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 90%;
    max-height: 80vh; /* Limit height to 80% of the viewport */
    overflow-y: auto; /* Enable vertical scrolling */
    text-align: center;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
}

.donation-section, .organizations-section {
    margin: 20px 0;
}

.org-logo, .qr-code {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}

.donate-link {
    display: inline-block;
    margin: 10px 0;
    color: #007BFF;
    text-decoration: none;
}

.disclaimer {
    font-size: 0.9em;
    color: #666;
}

/* Style for the scrollable list */
.scrollable-list {
    display: flex;
    overflow-x: auto;
    padding: 0;
    margin: 10px 0;
}

.scrollable-list li {
    list-style: none;
    margin-right: 10px;
}

.scrollable-list li a {
    padding: 5px 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
}

.scrollable-list li a:hover {
    background-color: #007BFF;
    color: white;
}

/* Buttons to switch between platforms */
.platform-btn {
    padding: 10px;
    margin: 5px;
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.platform-btn:hover {
    background-color: #007BFF;
    color: white;
}

.download-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.download-table th,
.download-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.download-table th {
    background-color: #f2f2f2;
}

.download-table a {
    text-decoration: none;
    color: #007bff;
}

.download-table a:hover {
    text-decoration: underline;
}

.download-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjust minmax for responsiveness */
    gap: 20px; /* Space between grid items */
}

.download-item {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.platform-selector {
    margin-bottom: 10px;
}

.platform-btn {
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.platform-btn:hover {
    background-color: #0056b3;
}

.package-options ul {
    list-style-type: none;
    padding: 0;
}

.package-options li {
    margin: 5px 0;
}

.package-options a {
    text-decoration: none;
    color: #007bff;
}

.package-options a:hover {
    text-decoration: underline;
}

.screenshot-container {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.game-screenshot {
    max-width: 100%;
    height: auto;
    border-radius: 8px; /* Optional: for rounded corners on the image */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional: light shadow for better contrast */
}

.filter-menu {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.filter-options {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.filter-options label {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* Modal Styles */
.game-modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent background */
}

.game-modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Adjust width as needed */
}

.close-btn {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 25px;
    font-family: Arial, sans-serif;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-screenshot-container img {
    width: 100%;
    margin: 10px 0;
    max-width: 100%;
}

/* Modal Carousel Styles */
#modal-screenshots {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

#modal-screenshots .carousel-slide {
    display: none; /* Hide all slides by default */
}

#modal-screenshots .carousel-slide.active {
    display: block; /* Show only the active slide */
}

#modal-screenshots img {
    width: 100%;
    max-width: 100%;
    margin: 10px 0;
}

/* Style the "Click here to access more info" text */
.info-text {
    font-size: 14px;
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
    margin-bottom: 10px;
}

.info-text:hover {
    color: #0056b3;
}

.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.carousel-inner {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.carousel-slide {
    min-width: 100%;
    display: none; /* Hide all slides by default */
    text-align: center;
}

.carousel-slide.active {
    display: block; /* Show only the active slide */
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 18px;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}
