body {
  margin:40px auto;
  max-width:1280px;
  line-height:1.6;
  font-size:110%;
  padding:0 15px;
  padding-bottom: 1em;
  background-color: black;
  background-image: url("background.avif");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  background-size: 100% auto;
  color: white;
}
h1,h2,h3 {
  line-height:1.2
   text-align: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  text-align: center;
  color: black;
}

/* Hyperlinks */
a {
    color: #FFD700; /* Gold color for links (contrast with grey) */
    text-decoration: none; /* No underline by default */
}

a:hover {
    color: #FF4500; /* A bright orange for the hover effect */
    text-decoration: underline; /* Underline on hover */
}
