<table>
	 
	 <tr>
		<!--Arkanoid-->
		<td>
			<br>
			<a href="https://github.com/besnoi/arkanoid">besnoi</a>
			<br>
			<a href="https://codeberg.org/glitchapp/arkanoid">Arkanoid
		<br>
			<img type="image/avif" src="mob/arkanoid.avif" alt="Arkanoid screenshot" width=200 height=200>
			</a>
		</td> 
		
		
		<!--A village in the sky-->
		<td>
			<br>
				<a href="https://github.com/Drauthius/a-village-in-the-sky">Drauthius</a>
			<br>
				<a href="https://codeberg.org/glitchapp/a-village-in-the-sky">A village in the sky
			<br><img type="image/avif" src="mob/avillage.avif" alt="A village in the sky screenshot" width=200 height=200></a>
		</td> 
		
		<!--blackjack-->
		<td>
			<br>
				<a href="https://berbasoft.com/simplegametutorials/love/blackjack/">Simple game tutorials</a>
			<br>
				<a href="https://codeberg.org/glitchapp/blackjack">blackjack
			<br><img type="image/avif" src="mob/blackjack.avif" alt="blackjack screenshot" width=200 height=200 align="middle"></a>
		</td> 
		
		<!--Chamber of jewels-->
		<td>
			<br>
				<a href="https://github.com/besnoi/fruit-crush">besnoi</a>
			<br>
				<a href="https://codeberg.org/glitchapp/ChamberOfJewels">Chamber of jewels
			<br><img type="image/avif" src="mob/chamber.avif" alt="chamber of jewels screenshot" width=200 height=200 align="middle"></a>
		</td> 
	
		<!--Chessboard-->
		<td>
			<br>
				<a href="https://codeberg.org/rchastain/love-chessboard">rchastain</a>
			<br>
				<a href="https://codeberg.org/rchastain/love-chessboard">Chessboard
			<br><img type="image/avif" src="mob/chessboard.avif" alt="chessboard screenshot" width=200 height=200 align="middle"></a>
		</td> 
	
	
		<!--Chess engine-->
		<td>
			<br>
				<a href="https://github.com/Azzla/chess-engine">Azzla</a>
			<br>
				<a href="https://codeberg.org/glitchapp/chess-engine">Chess engine
			<br><img type="image/avif" src="mob/chessengine.avif" alt="chessengine screenshot" width=200 height=200 align="middle"></a>
		</td> 
		
			<!--clockwind-->
		<td>
			<br>
				<a href="https://alesan99.itch.io/clockwind">Alesan99</a>
			<br>
				<a href="https://codeberg.org/glitchapp/clockwind">clockwind
			<br><img type="image/avif" src="mob/clockwind.avif" alt="clockwind screenshot" width=200 height=200 align="middle"></a>
		</td> 
	
			<!--Deep dungeon-->
		<td>
			<br>
				<a href="https://github.com/kivutar/deep-dungeon">kivutar</a>
			<br>
				<a href="https://codeberg.org/glitchapp/Deep dungeon">Deep dungeon
			<br><img type="image/avif" src="mob/deepdungeon.avif" alt="Deep dungeon screenshot" width=200 height=200 align="middle"></a>
		</td> 
	
	</tr>
	
	<tr>
	
		<!--duck marines-->
		<td>
			<br>
			<a href="https://github.com/SimonLarsen/duckmarines">Simon Larsen</a>
			<br>
			<a href="https://codeberg.org/glitchapp/Duckmarines">duck marines
		<br>
			<img type="image/avif" src="mob/duckmarines.avif" alt="duck marines screenshot" width=200 height=200>
			</a>
		</td> 
		
		
		<!--Fish fillets-->
		<td>
			<br>
				<a href="https://codeberg.org/glitchapp/fish-fillets-remake">glitchapp</a>
			<br>
				<a href="https://codeberg.org/glitchapp/fish-fillets-remake">Fish fillets
			<br><img type="image/avif" src="mob/ffillets.avif" alt="Fish fillets screenshot" width=200 height=200></a>
		</td> 
		
		<!--Guide-->
		<td>
			<br>
				<a href="https://berbasoft.com/simplegametutorials/love/blackjack/">Simple game tutorials</a>
			<br>
				<a href="https://codeberg.org/glitchapp/blackjack">blackjack
			<br><img  type="image/avif" type="image/avif" src="mob/guide.avif" alt="blackjack screenshot" width=200 height=200 align="middle"></a>
		</td> 
		
		<!--gnoP-->
		<td>
			<br>
				<a href="https://github.com/Azzla/gnoP">Azzla</a>
			<br>
				<a href="https://codeberg.org/glitchapp/gnoP">gnoP
			<br><img type="image/avif" src="mob/gnop.avif" alt="gnoP of jewels screenshot" width=200 height=200 align="middle"></a>
		</td> 
	
		<!--granite crash-->
		<td>
			<br>
				<a href="https://github.com/Varkalandar/granite_crash">Varkalandar</a>
			<br>
				<a href="https://codeberg.org/glitchapp/granite-crash">granite crash
			<br><img type="image/avif" src="mob/granitecrash.avif" alt="granite crash screenshot" width=200 height=200 align="middle"></a>
		</td> 
	
	
		<!--Gravitonik-->
		<td>
			<br>
				<a href="https://github.com/Middlerun/gravitonik">Middlerun</a>
			<br>
				<a href="https://codeberg.org/glitchapp/gravitonik-mobile">Gravitonik
			<br><img type="image/avif" src="mob/gravitonik.avif" alt="chessengine screenshot" width=200 height=200 align="middle"></a>
		</td> 
		
			<!--Glitch sokoban-->
		<td>
			<br>
				<a href="https://codeberg.org/glitchapp/glitch-sokoban">glitchapp</a>
			<br>
				<a href="https://codeberg.org/glitchapp/glitch-sokoban">Glitch sokoban
			<br><img type="image/avif" src="mob/glitchsokoban.avif" alt="Glitch sokoban screenshot" width=200 height=200 align="middle"></a>
		</td> 
	
			<!--Guideline tetris-->
		<td>
			<br>
				<a href="https://github.com/nununoisy/tetris-love"> nununoisy</a>
			<br>
				<a href="https://codeberg.org/glitchapp/Guideline-tetris">Guideline tetris
			<br><img type="image/avif" src="mob/guidelinetetris.avif" alt="Deep dungeon screenshot" width=200 height=200 align="middle"></a>
		</td> 
	
	</tr>


	  
	  </table>
