
/* GRIDTEST */
/* 
Colors
#b5b2b5 - bg grey
#6b8ec6 - primary blue

#450e45 - Kickstart background color 
#f2a788 - Kickstart text and floppy drive color

#f72000 - Guru meditation error Red
#f7ae00 - Guru Orange
#f7ee00 - Guru Yellow
#5cfc0d - Guru Green
* 
* https://github.com/justinzero/amiga.css/
* 
* Basic CSS Components for Kickstarting your web site into Amiga Workbench 3.1 

Author: https://github.com/justinzero
*/

html, body {
   width: 100%;
   height: 100%;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  cursor: url('./assets/amiga-cursor.png'), auto;
  font-family: 'Press Start 2P', monospace;
  font-size: 1.25em;
  font-weight: 500;
  font-stretch: extra-condensed;
  line-height: 1.5;
  color: #000000;
  text-align: left;
  background-color: #b5b2b5;
}

a, button {
   cursor: inherit; /* replace with wb crosshair later */
   outline: none;
   }

a {
   text-decoration: none;
   color: #450e45;
}

a:hover {
   color: #fff;
   background-color: #6b8ec6;
}

button {
   font: inherit;
   background-color: inherit;
   position: relative;
   display: inline-block;
   padding: 1rem 1rem;
   margin: 4px;
   text-align: center;
   vertical-align: middle;
   border-style: solid;
   border-width: 4px 6px 4px 6px;
   border-color: #fff #000 #000 #fff;
}

button:active {
   background-color: #999;
   border-color: #000 #fff #fff #000;
}



.window {
   box-sizing: border-box;
  
   background-color: #aaa;
   margin: 50px auto;   
   min-height: 1300px;
	width: 60%;
   height: 127%;
   border-style: solid;
   border-width: 6px 3px 6px 3px;
   border-color: #fff #000 #000 #fff;
    overflow: hidden;
  resize: both;
}
.window:active {
   background-color: #999;
   border-color: #000 #fff #fff #000;
}

.window resizer {
  width: 100px;
  height: 100px;
  background: white;
  overflow: hidden;
  resize: both;
}
.window wrap {
  width: min-content;
  position: relative;
}

.window-wider{
   box-sizing: border-box;
  
   background-color: #aaa;
   margin: 50px auto;   
   min-height: 200px;
	width: 60%;
   height: 100%;
   border-style: solid;
   border-width: 6px 3px 6px 3px;
   border-color: #fff #000 #000 #fff;
    overflow: hidden;
  resize: both;
}
.window-wider:active {
   background-color: #999;
   border-color: #000 #fff #fff #000;
}

.window-less-Height{
   box-sizing: border-box;
  
   background-color: #aaa;
   margin: 50px auto;   
   min-height: 200px;
	width: 60%;
   height: 100%;
   border-style: solid;
   border-width: 6px 3px 6px 3px;
   border-color: #fff #000 #000 #fff;
    overflow: hidden;
  resize: both;
}
.window-less-Height:active {
   background-color: #999;
   border-color: #000 #fff #fff #000;
}

.title-bar {
   padding: 0.6rem;
   padding-left: 2rem;
   background-color: #6b8ec6;
   color: #000000;
   border-bottom: 2px solid #000000; 
   overflow: hidden;
   white-space: nowrap;
}


 TODO - Make this all Grid for handling inner window elements
.inner-window {
   border-style: solid;
   border-width: 0px 6px 0px 6px;
   border-color: #6b8ec6;
}

.window-title {
   display: inline-block;
   vertical-align: center;
}

.window p {
   padding: 2rem;
   display: inline-block;
   line-height: 1.6;
}

.center-buttons {
   text-align: center;
   padding: 2em;
}

.right-buttons {
   text-align: right;
   padding: 2em;
}
.left-buttons {
   text-align: left;
   padding: 2em;
}

#crashModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,1.0);
  color: #f72000;
  font: inherit;
}

.gurubox {
   width: 100%;
   box-sizing: border-box;
   border: 12px solid #f72000;
   text-align: center;
   padding: 1em;
   animation: failBlink 2s infinite;
}



@keyframes failBlink {
   0% {border-color: #f72000;}
   49% {border-color: #f72000;}
   50% {border-color: transparent;}
   99% {border-color: transparent;}
   100% {border-color: #f72000;}
}

@media(max-width:720px) {
   .window {
      width:100vw; 
      height:100vh;
      margin-top: 0;
   }
}


