

<!-- Downloads Section -->
<div class="window-wider">
    <div class="title-bar" id="window1-header-downloads">
        <span class="window-title">Downloads</span>
        <div class="btn minimize-btn" onclick="minimizeWindow('window1', event)">
            <i class="fas fa-minus"></i>
        </div>
        <div class="btn close-btn" onclick="closeWindow('window1', event)">
            <i class="fas fa-times"></i>
        </div>
    </div>
    <div class="inner-window">
		
        <section id="downloads">
            <h2>Download Binaries</h2>
            <p>Choose your platform and package format to download the latest version of the game.</p>
            
            <!-- Filter Menu -->
            <div class="filter-menu">
                <h3>Filter Games</h3>
                <div class="filter-options">
                    <label><input type="checkbox" id="filter-level-editor" onclick="applyFilters()"> Level Editor</label>
                    <label><input type="checkbox" id="filter-touch-controls" onclick="applyFilters()"> Touch Controls</label>
                    <label><input type="checkbox" id="filter-vr" onclick="applyFilters()"> VR</label>
                    <label><input type="checkbox" id="filter-arcade" onclick="applyFilters()"> Arcade</label>
                    <label><input type="checkbox" id="filter-puzzle" onclick="applyFilters()"> Puzzle</label>
                    <label><input type="checkbox" id="filter-platform" onclick="applyFilters()"> Platform</label>
                    <label><input type="checkbox" id="filter-multiplayer" onclick="applyFilters()"> Multiplayer</label>

                </div>
            </div>
            
<!-- Modal for expanded game info -->
<div id="game-modal" class="game-modal">
    <div class="game-modal-content">
        <span class="close-btn">&times;</span>
        <h3 id="modal-title"></h3>
        <!-- Carousel Container for Modal -->
        <div class="carousel-container">
            <div id="modal-screenshots" class="carousel-inner"></div>
            <!-- Carousel Controls for Modal -->
            <button class="carousel-control prev" onclick="prevSlideModal()">&#10094;</button>
            <button class="carousel-control next" onclick="nextSlideModal()">&#10095;</button>
        </div>
        <p id="modal-description"></p>
        <a id="modal-repo" href="#" target="_blank">Repository</a>
    </div>
</div>



            <!-- Grid Container -->
            <div class="download-grid">
            
<!-- Game 1: Spinny the Runner -->
<div class="download-item" data-arcade="true" data-puzzle="false" data-vr="false" data-level-editor="true" data-touch-controls="true" data-platform="true" data-multiplayer="true">
    <h3>Spinny the Runner</h3>
    <ul class="scrollable-list">
        <li><a href="https://codeberg.org/glitchapp/spinny-the-runner/releases/download/lastBuilds/spinny_0.4.4.7-2_all.deb">DEB</a></li>
        <li><a href="https://codeberg.org/glitchapp/spinny-the-runner/releases/download/lastBuilds/spinny-0.4.4-7-1.AppImage">AppImage</a></li>
        <li><a href="https://codeberg.org/glitchapp/spinny-the-runner/releases/download/spinny-0.4.8-1/spinny-0.4.8-1.noarch.rpm">RPM</a></li>
        <li><a href="https://codeberg.org/glitchapp/spinny-the-runner/releases/download/lastBuilds/spinny-0.4.4.7-r0.apk">APK</a></li>
    </ul>
    <div class="screenshot-container">
        <p class="info-text">Click the screenshot to access more info</p>
        
        
<div class="carousel-container" id="carousel-spinny">
    <div class="carousel-inner">
        <!-- Carousel Slides -->
        <div class="carousel-slide active">
            <img class="game-screenshot" src="img/screenshots/spinny-small.webp" alt="Spinny" data-highres="img/screenshots/spinny-highres.webp" data-game="Spinny the Runner">
            <p class="carousel-description">Explore vibrant levels with Spinny, the agile runner!</p>
        </div>
        <div class="carousel-slide">
            <img class="game-screenshot" src="img/screenshots/spinnyEditorSmall.webp" alt="Spinny" data-highres="img/screenshots/spinnyEditor.webp" data-game="Spinny the Runner">
            <p class="carousel-description">Level editor with tens of different entities, background, weather effects and hundreds of assets.</p>
        </div>
        <div class="carousel-slide">
            <img class="game-screenshot" src="img/screenshots/SpinnyMultiplayerSmall.webp" alt="Spinny" data-highres="img/screenshots/SpinnyMultiplayer.webp" data-game="Spinny the Runner">
            <p class="carousel-description">Multiplayer mode with split screen up to 4 players.</p>
        </div>
    </div>
    <!-- Carousel Controls -->
    <button class="carousel-control prev" onclick="prevSlide('carousel-top')">&#10094;</button>
    <button class="carousel-control next" onclick="nextSlide('carousel-top')">&#10095;</button>
</div>

        
    </div>
    <p>A platform game with rich and diverse mechanics built with the Boxclip engine, a 2D platformer engine, with an emphasis on interactive map editing.</p>
    <a href="https://codeberg.org/glitchapp/spinny-the-runner">Repository</a>
</div>

           
         

            <!-- Game 2: Inertia Blast II -->
              <div class="download-item" 
         data-arcade="true" 
         data-puzzle="false" 
         data-vr="false"
         data-level-editor="true" 
         data-touch-controls="true"
         data-platform="false"
         data-multiplayer="false">
                <h3>Inertia Blast II</h3>
                
                <ul class="scrollable-list">
					   <li><a href="https://codeberg.org/glitchapp/inertia-blast-ii/releases/download/inertia-blast-ii-mini/inertiaii_0.2.1-2_all.deb">DEB</a></li>
                        <li><a href="https://codeberg.org/glitchapp/inertia-blast-ii/releases/download/inertia-blast-ii-mini/inertia0.2.1.AppImage">AppImage</a></li>
                        <li><a href="https://codeberg.org/glitchapp/inertia-blast-ii/releases/download/inertia-blast-ii-mini/inertiaII-0.2-1.noarch.rpm">RPM</a></li>
                        <li><a href="https://codeberg.org/glitchapp/inertia-blast-ii/releases/download/inertia-blast-ii-mini/inertia-0.2.1-r0.apk">APK</a></li>
				</ul>	
              
                   <!-- Screenshot Section -->
			 <div class="screenshot-container">
            <p class="info-text">Click the screenshot to access more info</p>
            
            <div class="carousel-container" id="carousel-inertia">
    <div class="carousel-inner">
        <!-- Carousel Slides -->
        <div class="carousel-slide active">
            <img class="game-screenshot" src="img/screenshots/inertiaii-highres-small.webp" alt="inertia" data-highres="img/screenshots/inertiaii-highres.webp" data-game="inertia">
            <p class="carousel-description">Explore vibrant levels with Spinny, the agile runner!</p>
        </div>
        <div class="carousel-slide">
            <img class="game-screenshot" src="img/screenshots/inertiaTouchSmall.webp" alt="inertia" data-highres="img/screenshots/inertiaTouch.webp" data-game="inertia">
            <p class="carousel-description">Mobile friendly touch controls.</p>
        </div>
        <div class="carousel-slide">
            <img class="game-screenshot" src="img/screenshots/inertiaMenuSmall.webp" alt="inertia" data-highres="img/screenshots/inertiaMenu.webp" data-game="inertia">
            <p class="carousel-description">New splash and menus full of new options and features.</p>
        </div>
        <div class="carousel-slide">
            <img class="game-screenshot" src="img/screenshots/inertiaAiSmall.webp" alt="inertia" data-highres="img/screenshots/inertiaAi.webp" data-game="inertia">
            <p class="carousel-description">A.I. powered assistant with voice capabilities assist you with natural language.</p>
        </div>
    </div>
    <!-- Carousel Controls -->
    <button class="carousel-control prev" onclick="prevSlide('carousel-top')">&#10094;</button>
    <button class="carousel-control next" onclick="nextSlide('carousel-top')">&#10095;</button>
</div>

            
           <<img class="game-screenshot" src="img/screenshots/inertiaii-small.webp" alt="Inertia Blast II" data-highres="img/screenshots/inertiaii-highres.webp" data-game="Inertia Blast II">
        </div>
        <p>A fork of the remake of classic game Thrust II by PGimeno</p>
        <a href="https://codeberg.org/glitchapp/inertia-blast-ii">Repository</a>
    </div>


            <!-- Game 3: Fish Fillets VR -->
              <div class="download-item" 
         data-arcade="false" 
         data-puzzle="true" 
         data-vr="true"
         data-level-editor="true" 
         data-touch-controls="false"
         data-platform="false"
         data-multiplayer="false">
                <h3>Fish Fillets VR</h3>
                
                    <ul class="scrollable-list">
                        <li><a href="https://codeberg.org/glitchapp/fishfillets-Vr/releases/download/Fish-fillets-Vr-0.3-3/Fish-fillets-VR-Win64-v0.3-3-Setup.exe">EXE</a></li>
                        <li><a href="https://codeberg.org/glitchapp/fishfillets-Vr/releases/download/Fish-fillets-Vr-0.3-3/fishfilletsVR-0.3-3.tar.gz">Linux launcher</a></li>
                    </ul>
              
                 <!-- Screenshot Section -->
				<div class="screenshot-container">
					  <p class="info-text">Click the screenshot to access more info</p>
					   <img class="game-screenshot" src="img/screenshots/ffvr-small.webp" alt="Inertia Blast II" data-highres="img/screenshots/ffvr-highres.webp" data-game="Fish Fillets VR">
                </div>
                Port of fish fillets to VR.
                Beware: this game does not work on newest versions of LÖVR. compatible LÖVR binaries included on the link above (lovr-v0.15.0)
                <a href="https://codeberg.org/glitchapp/fishfillets-Vr">repository </a>
            </div>
            
              <!-- Game 4: Fish fillets mini -->
              <div class="download-item" 
         data-arcade="false" 
         data-puzzle="true" 
         data-vr="false"
         data-level-editor="true" 
         data-touch-controls="true"
         data-platform="false"
         data-multiplayer="false">
                <h3>Fish fillets remake (mini)</h3>

             
                    <ul class="scrollable-list">
                        <li><a href="https://codeberg.org/glitchapp/inertia-blast-ii/releases/download/inertia-blast-ii-mini/inertiaii_0.2.1-2_all.deb">DEB</a></li>
                        <li><a href="https://codeberg.org/glitchapp/fish-fillets-remake/releases/download/Fishfilletsmini-0.1.2-1/Fish-fillets-Mini.AppImage">AppImage</a></li>
                  
               
                        <li><a href="https://codeberg.org/glitchapp/fish-fillets-remake/releases/download/Fishfilletsmini-0.1.2-1/Fishfilletsmini-0.1.2-1.noarch.rpm">RPM</a></li>
                        <li><a href="https://codeberg.org/glitchapp/fish-fillets-remake/releases/download/Fishfilletsmini-0.1.2-1/ffmini_switch.nro">Switch</a></li>
                    </ul>
               
                   <!-- Screenshot Section -->
				<div class="screenshot-container">
					<p class="info-text">Click the screenshot to access more info</p>
					   <img class="game-screenshot" src="img/screenshots/ffmini-small.webp" alt="FFMini" data-highres="img/screenshots/ffmini-highres.webp" data-game="FFMini">
                </div>
                
                Reduced version with core functionality and assets.For the full game please download it from 
                <a href="https://codeberg.org/glitchapp/fish-fillets-remake">the repository </a>
            </div>
            
            <!-- Game 5: Sienna -->
             <div class="download-item" 
         data-arcade="true" 
         data-puzzle="false" 
         data-vr="false"
         data-level-editor="true" 
         data-touch-controls="true"
         data-platform="true"
         data-multiplayer="true">
                <h3>Sienna</h3>

             

                    <ul class="scrollable-list">
                        <li><a href="https://codeberg.org/glitchapp/sienna-mobile/releases/download/sienna-0.4.3-1/sienna_0.4.3-2_all.deb">DEB</a></li>
                        <li><a href="https://codeberg.org/glitchapp/sienna-mobile/releases/download/sienna-0.4.3-1/sienna.AppImage">AppImage</a></li>
                  
                        <li><a href="https://codeberg.org/glitchapp/sienna-mobile/releases/download/sienna-0.4.4-1/sienna-0.4.4-1.noarch.rpm">RPM</a></li>
                        <li><a href="https://codeberg.org/glitchapp/sienna-mobile/releases/download/sienna-0.4.2-1/sienna-0.4.2-r0.apk">APK</a></li>
                    </ul>
             
                    <!-- Screenshot Section -->
				<div class="screenshot-container">
						<p class="info-text">Click the screenshot to access more info</p>
					   <img class="game-screenshot" src="img/screenshots/sienna-small.webp" alt="FFMini" data-highres="img/screenshots/sienna-highres.webp" data-game="Sienna">
                </div>
                Fork of the fast-paced one-button platformer by SimonLarsen with a bunch of new features.
                  <a href="https://github.com/SimonLarsen/sienna">Original repository </a>
                    <a href="https://codeberg.org/glitchapp/sienna-mobile">repository </a>
            </div>
            
              <!-- Game 6: Mr. Rescue -->
             <div class="download-item" 
         data-arcade="true" 
         data-puzzle="false" 
         data-vr="false"
         data-level-editor="true" 
         data-touch-controls="true"
         data-platform="true"
         data-multiplayer="true">
                <h3>Mr.rescue</h3>

             
                    <ul class="scrollable-list">
                        <li><a href="https://codeberg.org/glitchapp/mr-rescue-mobile/releases/download/mrrescue-0.2.6-1/mrrescue_0.2.6-2_all.deb">DEB</a></li>
                        <li><a href="https://codeberg.org/glitchapp/mr-rescue-mobile/releases/download/mrrescue-0.2.6-1/mrrescue.AppImage">AppImage</a></li>
                 
                        <li><a href="https://codeberg.org/glitchapp/mr-rescue-mobile/releases/download/mrrescue-0.2.6-1/mrrescue-0.2.6-1.noarch.rpm">RPM</a></li>
                        <li><a href="https://codeberg.org/glitchapp/mr-rescue-mobile/releases/download/mrrescue0.2/mrrescue-0.2-r0.apk">APK</a></li>
                    </ul>
              
                     <!-- Screenshot Section -->
				<div class="screenshot-container">
					<p class="info-text">Click the screenshot to access more info</p>
					   <img class="game-screenshot" src="img/screenshots/mrrescue-small.webp" alt="Mrrescue" data-highres="img/screenshots/mrrescue-highres.webp" data-game="Mrrescue">
                </div>
                Fork of Mr.Rescue by Simon Larsen with a lot of extra features.
                <a href="https://codeberg.org/glitchapp/mr-rescue-mobile">repository </a>
            </div>
            
              <!-- Game 7: Gravitonik -->
             <div class="download-item" 
         data-arcade="true" 
         data-puzzle="false" 
         data-vr="false"
         data-level-editor="false" 
         data-touch-controls="true"
         data-platform="false"
         data-multiplayer="false">
                <h3>Gravitonik</h3>

               
                    <ul class="scrollable-list">
                        <li><a href="https://codeberg.org/glitchapp/gravitonik-mobile/releases/download/gravitonik-mobile-0.1.6-1/gravitonik_0.1.7-2_all.deb">DEB</a></li>
                        <li><a href="https://codeberg.org/glitchapp/gravitonik-mobile/releases/download/gravitonik-mobile-0.1.6-1/gravitonik.AppImage">AppImage</a></li>
                   
                        <li><a href="https://codeberg.org/glitchapp/gravitonik-mobile/releases/download/gravitonik-mobile-0.1.6-1/gravitonik-0.1.6-1.noarch.rpm">RPM</a></li>
                        <li><a href="https://codeberg.org/glitchapp/gravitonik-mobile/releases/download/gravitonik-mobile-0.1.6-1/gravitonik-0.1.6-r0.apk">APK</a></li>
                    </ul>
             
                      <!-- Screenshot Section -->
				<div class="screenshot-container">
					<img type="image/avif" src="img/screenshots/gravitonik.webp" alt="Spinny"</a>
                </div>
                Fork of the arcade-style gravity game by Middlerun:  <a href="https://github.com/Middlerun/gravitonik">Original repository</a>
                <a href="https://codeberg.org/glitchapp/gravitonik-mobile">Fork repository </a>
            </div>
            
                       <!-- Game 8: Chess engine -->
              <div class="download-item" 
         data-arcade="false" 
         data-puzzle="true" 
         data-vr="false"
         data-level-editor="false" 
         data-touch-controls="true"
         data-platform="false"
         data-multiplayer="true">
                <h3>Chess engine</h3>

                    <ul class="scrollable-list">
                        <li><a href="https://codeberg.org/glitchapp/chess-engine/releases/download/v0.2/chessengine_0.2-2_all.deb">DEB</a></li>
                        <li><a href="https://codeberg.org/glitchapp/chess-engine/releases/download/v0.2/chess-engine.AppImage">AppImage</a></li>
                   
                        <li><a href="https://codeberg.org/glitchapp/chess-engine/releases/download/v0.2/chessengine-0.2-1.noarch.rpm">RPM</a></li>
                        <li><a href="https://codeberg.org/glitchapp/chess-engine/releases/download/v0.2/chessengine-0.2-r0.apk">APK</a></li>
                    </ul>
              
                      <!-- Screenshot Section -->
				<div class="screenshot-container">
					<img type="image/avif" src="img/screenshots/chessengine.webp" alt="Spinny"</a>
                </div>
					A fully compliant, playable chess engine written in Lua and rendered with the Love2D game framework forked from <a href="https://github.com/Azzla/chess-engine.">Azzla repository</a>
                <a href="https://codeberg.org/glitchapp/chess-engine">Fork repository </a>
            </div>

        
                       <!-- Game 9: IYFC -->
             <div class="download-item" 
         data-arcade="true" 
         data-puzzle="false" 
         data-vr="false"
         data-level-editor="false" 
         data-touch-controls="true"
         data-platform="true"
         data-multiplayer="false">
                <h3>IYFC</h3>

             
                    <ul class="scrollable-list">
                        <li><a href="https://codeberg.org/glitchapp/iyfct/releases/download/v0.5/inyourface_0.6-2_all.deb">DEB</a></li>
                        <li><a href="https://codeberg.org/glitchapp/iyfct/releases/download/v0.5/iyfc.AppImage">AppImage</a></li>
                  
                        <li><a href="https://codeberg.org/glitchapp/iyfct/releases/download/v0.4/InYourFace-0.4-1.noarch.rpm">RPM</a></li>
                        <li><a href="https://codeberg.org/glitchapp/iyfct/releases/download/v0.4/iyfc-0.4-r0.apk">APK</a></li>
                    </ul>
            
                      <!-- Screenshot Section -->
				<div class="screenshot-container">
					<img type="image/avif" src="img/screenshots/iyfc.webp" alt="Spinny"</a>
                </div>
					IYFCT is a simple but fun one-button-game by Simon Larsen similar to Canabalt.
                <a href="https://github.com/SimonLarsen/iyfct">Original repository </a>
                <a href="https://codeberg.org/glitchapp/iyfct">Fork repository </a>
            </div>

                 <!-- Game 10: madwheelz -->
              <div class="download-item" 
         data-arcade="false" 
         data-puzzle="true" 
         data-vr="false"
         data-level-editor="false" 
         data-touch-controls="true"
         data-platform="false"
         data-multiplayer="false">
                <h3>MadwheelZ</h3>

            
                    <ul class="scrollable-list">
                        <li><a href="https://codeberg.org/glitchapp/MadWheelZ/releases/download/v0.4.9-1/madwheelz_0.5-2_all.deb">DEB</a></li>
                        <li><a href="https://codeberg.org/glitchapp/MadWheelZ/releases/download/v0.4.9-1/madwheelz.AppImage">AppImage</a></li>
                
                        <li><a href="https://codeberg.org/glitchapp/MadWheelZ/releases/download/v0.4.9-1/madwheelz-0.4.9-1.noarch.rpm">RPM</a></li>
                        <li><a href="https://codeberg.org/glitchapp/MadWheelZ/releases/download/v0.4.8-1/madwheelz-0.4.8-r0.apk">APK</a></li>
                    </ul>
              
                      <!-- Screenshot Section -->
				<div class="screenshot-container">
					<img type="image/avif" src="img/screenshots/madwheelz.webp" alt="Spinny"</a>
                </div>
					The puzzle game "rush hour" written in lua with a full collection of levels from <a href="https://www.michaelfogleman.com/rush/">Michael Fogleman</a>
                
                <a href="https://codeberg.org/glitchapp/MadWheelZ">repository </a>
            </div>

      <!-- Game 11: Match4Gravity -->
              <div class="download-item" 
         data-arcade="true" 
         data-puzzle="true" 
         data-vr="false"
         data-level-editor="false" 
         data-touch-controls="true"
         data-platform="false"
         data-multiplayer="false">
                <h3>Match4Gravity</h3>

              
                    <ul class="scrollable-list">
                        <li><a href="https://codeberg.org/glitchapp/Match4Gravity/releases/download/Match4Gravity-mobile-fork-v0.1-3.love/blockdrop_0.1.3-2_all.deb">DEB</a></li>
                        <li><a href="https://codeberg.org/glitchapp/Match4Gravity/releases/download/Match4Gravity-mobile-fork-v0.1-3.love/match4gravity.AppImage">AppImage</a></li>
                        <li><a href="https://codeberg.org/glitchapp/Match4Gravity/releases/download/Match4Gravity-mobile-fork-v0.1-3.love/Match4Gravity.exe">EXE</a></li>
                 
                        <li><a href="https://codeberg.org/glitchapp/Match4Gravity/releases/download/Match4Gravity-mobile-fork-v0.1-3.love/Blockdrop-0.1.2-1.noarch.rpm">RPM</a></li>
                        <li><a href="https://codeberg.org/glitchapp/Match4Gravity/releases/download/Match4Gravity-mobile-fork-v0.1-3.love/match4gravity-0.1.3.3-r0.apk">APK</a></li>
                    </ul>
              
                      <!-- Screenshot Section -->
				<div class="screenshot-container">
					<img type="image/avif" src="img/screenshots/match4gravity.webp" alt="Spinny"</a>
                </div>
					Puyo inspired Match 4 game forked from https://github.com/Spex130/Love2DMatch4Gravity
                
                <a href="https://codeberg.org/glitchapp/MadWheelZ">repository </a>
            </div>
            
                             <!-- Game 12: Starphase -->
             <div class="download-item" 
         data-arcade="true" 
         data-puzzle="false" 
         data-vr="false"
         data-level-editor="false" 
         data-touch-controls="true"
         data-platform="false"
         data-multiplayer="true">
                <h3>Starphase</h3>

                    <ul class="scrollable-list">
                        <li><a href="https://codeberg.org/glitchapp/starphase-mobile/releases/download/Starphase-v0.1-2-7/starphase_0.2.1-2_all.deb">DEB</a></li>
                        <li><a href="https://codeberg.org/glitchapp/starphase-mobile/releases/download/Starphase-v0.1-2-7/starphase.AppImage">AppImage</a></li>
                        <li><a href="https://codeberg.org/glitchapp/starphase-mobile/releases/download/Starphase-v0.1-2-7/Starphase-0.1.7-1.noarch.rpm">RPM</a></li>
                        
                    </ul>
                
                      <!-- Screenshot Section -->
				<div class="screenshot-container">
					<img type="image/avif" src="img/screenshots/starphase.webp" alt="starphase"</a>
                </div>
					Side scrolling space shooter using LÖVE and Lua by <a href="https://github.com/Jigoku/starphase">Jigoku </a> with new modes and features
                
                <a href="https://codeberg.org/glitchapp/starphase-mobile">Fork Repository </a>
            </div>
            
                  <!-- Game 13: Tetris -->
          <div class="download-item" 
     data-arcade="true" 
     data-puzzle="true" 
     data-vr="false"
     data-level-editor="false" 
     data-touch-controls="true" 
     data-platform="false"
     data-multiplayer="false">

                <h3>Tetris</h3>

                    <ul class="scrollable-list">
                        <li><a href="https://codeberg.org/glitchapp/LoveTetris/releases/download/v0.3/tetris_0.3-2_all.deb">DEB</a></li>
                        <li><a href="https://codeberg.org/glitchapp/LoveTetris/releases/download/v0.3/tetris.AppImage">AppImage</a></li>
                
                        <li><a href="https://codeberg.org/glitchapp/LoveTetris/releases/download/v0.3/Tetris-0.3-1.noarch.rpm">RPM</a></li>
                        
                    </ul>
             
                      <!-- Screenshot Section -->
				<div class="screenshot-container">
					<img type="image/avif" src="img/screenshots/tetris.webp" alt="Spinny"</a>
                </div>
					Tetris game based on the logic from <a href="https://simplegametutorials.github.io/love/blocks/">Simple game tutorials</a>
                
                <a href="https://codeberg.org/glitchapp/LoveTetris">Repository </a>
            </div>
            
                         <!-- Game 14: Pong Vr -->
            <div class="download-item" 
         data-arcade="true" 
         data-puzzle="false" 
         data-vr="true"
         data-level-editor="false" 
         data-touch-controls="false"
         data-platform="false"
         data-multiplayer="false">
                <h3>Pong Vr</h3>

               
                    <ul class="scrollable-list">
                        <li><a href="https://codeberg.org/glitchapp/pong-vr/releases/download/Pong-Vr-1.2/pong-vr-Linux-Binaries.zip">Linux Binaries</a></li>
                        </ul>
               

                      <!-- Screenshot Section -->
				<div class="screenshot-container">
					<img type="image/avif" src="img/screenshots/pongvr.webp" alt="Spinny"</a>
                </div>
					
                Pong for virtual reality.
                * this game does not work on newest versions of LÖVR. compatible LÖVR binaries included on the link above (lovr-v0.15.0)
                <a href="https://codeberg.org/glitchapp/pong-vr">Repository </a>
            </div>
            
                        
                         <!-- Game 15: Sokoban Vr -->
            <div class="download-item" 
         data-arcade="true" 
         data-puzzle="false" 
         data-vr="true"
         data-level-editor="false" 
         data-touch-controls="false"
         data-platform="false"
         data-multiplayer="false">
                <h3>Sokoban Vr</h3>

               
                    <ul class="scrollable-list">
                        <li><a href="https://codeberg.org/glitchapp/sokoban-vr/releases/download/Glitch-Sokoban-Vr-1.0/Glitch-sokoban-Vr-Linux.zip">Linux Binaries</a></li>
                        <li><a href="https://codeberg.org/glitchapp/sokoban-vr/releases/download/Glitch-Sokoban-Vr-1.0/Sokoban-Vr-Win64-Setup.exe">EXE</a></li>
                  
                    </ul>
               
                      <!-- Screenshot Section -->
				<div class="screenshot-container">
					<img type="image/avif" src="img/screenshots/sokobanvr.webp" alt="Spinny"</a>
                </div>
					
                Port to vr of "glitch sokoban", a sokoban game based on the logic from <a href="https://berbasoft.com/simplegametutorials/love/sokoban/">simple game tutorials</a>
                * this game does not work on newest versions of LÖVR. compatible LÖVR binaries included on the link above (lovr-v0.15.0)
                <a href="https://codeberg.org/glitchapp/sokoban-vr">Repository </a>
            </div>
            
                 <!-- Game 15: Max downforce -->
              <div class="download-item" 
         data-arcade="true" 
         data-puzzle="false" 
         data-vr="false"
         data-level-editor="false" 
         data-touch-controls="true"
         data-platform="false"
         data-multiplayer="false">
                <h3>Max downforce</h3>

               
                    <ul class="scrollable-list">
                        <li><a href="https://codeberg.org/glitchapp/max-downforce-mobile/releases/download/v0.1.6/maxdownforce_0.1.6-2_all.deb">Deb</a></li>
                        <li><a href="https://codeberg.org/glitchapp/max-downforce-mobile/releases/download/v0.1.6/maxdownforce.AppImage">Appimage/a></li>
              
                         <li><a href="https://codeberg.org/glitchapp/max-downforce-mobile/releases/download/v0.1.6/maxdownforce-0.1.6-1.noarch.rpm">RPM</a></li>
                        <li><a href="https://codeberg.org/glitchapp/max-downforce-mobile/releases/download/v0.1.6/maxdownforce-0.1.6-r0.apk">APK</a></li>
  
                    </ul>
                
                      <!-- Screenshot Section -->
				<div class="screenshot-container">
					<img type="image/avif" src="img/screenshots/maxdownforce.webp" alt="Spinny"</a>
                </div>
					
                Pseudo 3d racer written in Lua and LÖVE  (forked from https://github.com/Foppygames/max-downforce)
                
                <a href="https://github.com/Foppygames/max-downforce">Original repository </a>
                <a href="https://codeberg.org/glitchapp/max-downforce-mobile">Repository </a>
            </div>

            <!-- Build Your Own Packages Section -->
            <div class="build-yourself">
                <h4>Build Your Own Packages</h4>
                                       <!-- Screenshot Section -->
				<div class="screenshot-container">
					<img type="image/avif" src="img/screenshots/builder.webp" alt="Spinny"</a>
                </div>
                <p>If you'd like the latest features and fixes, we recommend building your own packages using the <a href="https://codeberg.org/glitchapp/love-Builder" target="_blank">Love-Builder app</a>. Some of the pre-built versions may not be up to date.</p>
                
                <p><strong>Important ARM Build Notes:</strong><br>
                    - Set <strong>Touch Controls</strong> to <code>true</code>.<br>
                    - Set <strong>WebP Support</strong> to <code>false</code> (ARM builds use PNG assets due to WebP library incompatibility, and enabling WebP will cause crashes).<br>
                    - ARM builds are compatible with x86_64 platforms, as all games are scripted and do not include the LOVE2D binaries. ARM builds simply enable touch controls and disable WebP support, among other optimizations.<br>
                    - x86_64 builds will not work on ARM devices due to incompatible libraries and shaders.
                </p>
 
            </div>
            

                <!-- Add more games here -->
            </div>
        </section>
    </div>
</div>

    
