    <!-- Hyperlinks -->
<div class="window-wider">
   <div class="title-bar" id="window1-header">
	   <span class="window-title">Mobile ports</span>
	    <div class="btn minimize-btn" onclick="minimizeWindow('window1', event)">_</div>
        <div class="btn close-btn" onclick="closeWindow('window1', event)">X</div>
	   </div>
   <div class="inner-window">
	 <section id="mob" class="fade-in">
    </section>
      
  <!-- Projects Showcase Section -->
    
  <section id="projects">
    <!-- Image Gallery -->
        <div class="gallery">
			 <div class="gallery__item">
			            <table>
	 
	 <tr>
		<!--Arkanoid-->
		<td>
			<br>
			<a href="https://github.com/besnoi/arkanoid">besnoi</a>
			<br>
			<a href="https://codeberg.org/glitchapp/arkanoid">Arkanoid
		<br>
			<img type="image/avif" src="mob/arkanoid.avif" alt="Arkanoid screenshot" width=200 height=200>
			</a>
		</td> 
		
		
		<!--A village in the sky-->
		<td>
			<br>
				<a href="https://github.com/Drauthius/a-village-in-the-sky">Drauthius</a>
			<br>
				<a href="https://codeberg.org/glitchapp/a-village-in-the-sky">A village in the sky
			<br><img type="image/avif" src="mob/avillage.avif" alt="A village in the sky screenshot" width=200 height=200></a>
		</td> 
		
		<!--blackjack-->
		<td>
			<br>
				<a href="https://berbasoft.com/simplegametutorials/love/blackjack/">Simple game tutorials</a>
			<br>
				<a href="https://codeberg.org/glitchapp/blackjack">blackjack
			<br><img type="image/avif" src="mob/blackjack.avif" alt="blackjack screenshot" width=200 height=200 align="middle"></a>
		</td> 
		
		<!--Chamber of jewels-->
		<td>
			<br>
				<a href="https://github.com/besnoi/fruit-crush">besnoi</a>
			<br>
				<a href="https://codeberg.org/glitchapp/ChamberOfJewels">Chamber of jewels
			<br><img type="image/avif" src="mob/chamber.avif" alt="chamber of jewels screenshot" width=200 height=200 align="middle"></a>
		</td> 
	
	
	
	<tr>
	
		<!--duck marines-->
		<td>
			<br>
			<a href="https://github.com/SimonLarsen/duckmarines">Simon Larsen</a>
			<br>
			<a href="https://codeberg.org/glitchapp/Duckmarines">duck marines
		<br>
			<img type="image/avif" src="mob/duckmarines.avif" alt="duck marines screenshot" width=200 height=200>
			</a>
		</td> 
		
		
		<!--Fish fillets-->
		<td>
			<br>
				<a href="https://codeberg.org/glitchapp/fish-fillets-remake">glitchapp</a>
			<br>
				<a href="https://codeberg.org/glitchapp/fish-fillets-remake">Fish fillets
			<br><img type="image/avif" src="mob/ffillets.avif" alt="Fish fillets screenshot" width=200 height=200></a>
		</td> 
		
		<!--Guide-->
		<td>
			<br>
				<a href="https://berbasoft.com/simplegametutorials/love/blackjack/">Simple game tutorials</a>
			<br>
				<a href="https://codeberg.org/glitchapp/blackjack">blackjack
			<br><img  type="image/avif" type="image/avif" src="mob/guide.avif" alt="blackjack screenshot" width=200 height=200 align="middle"></a>
		</td> 
		
		<!--gnoP-->
		<td>
			<br>
				<a href="https://github.com/Azzla/gnoP">Azzla</a>
			<br>
				<a href="https://codeberg.org/glitchapp/gnoP">gnoP
			<br><img type="image/avif" src="mob/gnop.avif" alt="gnoP of jewels screenshot" width=200 height=200 align="middle"></a>
		</td> 
	

	
	</tr>
	  </table>
	  
	  
	  
	    </div>
	</div>	
	
	 <div class="gallery">
			 <div class="gallery__item">
				 <table>
		<!--Chessboard-->
		<td>
			<br>
				<a href="https://codeberg.org/rchastain/love-chessboard">rchastain</a>
			<br>
				<a href="https://codeberg.org/rchastain/love-chessboard">Chessboard
			<br><img type="image/avif" src="mob/chessboard.avif" alt="chessboard screenshot" width=200 height=200 align="middle"></a>
		</td> 
	
	
		<!--Chess engine-->
		<td>
			<br>
				<a href="https://github.com/Azzla/chess-engine">Azzla</a>
			<br>
				<a href="https://codeberg.org/glitchapp/chess-engine">Chess engine
			<br><img type="image/avif" src="mob/chessengine.avif" alt="chessengine screenshot" width=200 height=200 align="middle"></a>
		</td> 
		
			<!--clockwind-->
		<td>
			<br>
				<a href="https://alesan99.itch.io/clockwind">Alesan99</a>
			<br>
				<a href="https://codeberg.org/glitchapp/clockwind">clockwind
			<br><img type="image/avif" src="mob/clockwind.avif" alt="clockwind screenshot" width=200 height=200 align="middle"></a>
		</td> 
	
			<!--Deep dungeon-->
		<td>
			<br>
				<a href="https://github.com/kivutar/deep-dungeon">kivutar</a>
			<br>
				<a href="https://codeberg.org/glitchapp/Deep dungeon">Deep dungeon
			<br><img type="image/avif" src="mob/deepdungeon.avif" alt="Deep dungeon screenshot" width=200 height=200 align="middle"></a>
		</td> 
		
			<tr>
	

	
		<!--granite crash-->
		<td>
			<br>
				<a href="https://github.com/Varkalandar/granite_crash">Varkalandar</a>
			<br>
				<a href="https://codeberg.org/glitchapp/granite-crash">granite crash
			<br><img type="image/avif" src="mob/granitecrash.avif" alt="granite crash screenshot" width=200 height=200 align="middle"></a>
		</td> 
	
	
		<!--Gravitonik-->
		<td>
			<br>
				<a href="https://github.com/Middlerun/gravitonik">Middlerun</a>
			<br>
				<a href="https://codeberg.org/glitchapp/gravitonik-mobile">Gravitonik
			<br><img type="image/avif" src="mob/gravitonik.avif" alt="chessengine screenshot" width=200 height=200 align="middle"></a>
		</td> 
		
			<!--Glitch sokoban-->
		<td>
			<br>
				<a href="https://codeberg.org/glitchapp/glitch-sokoban">glitchapp</a>
			<br>
				<a href="https://codeberg.org/glitchapp/glitch-sokoban">Glitch sokoban
			<br><img type="image/avif" src="mob/glitchsokoban.avif" alt="Glitch sokoban screenshot" width=200 height=200 align="middle"></a>
		</td> 
	
			<!--Guideline tetris-->
		<td>
			<br>
				<a href="https://github.com/nununoisy/tetris-love"> nununoisy</a>
			<br>
				<a href="https://codeberg.org/glitchapp/Guideline-tetris">Guideline tetris
			<br><img type="image/avif" src="mob/guidelinetetris.avif" alt="Deep dungeon screenshot" width=200 height=200 align="middle"></a>
		</td> 
	
	</tr>
	
	</tr>
	</table>
	</div>
	</div>
	

	  
	  	  <!-- Image Gallery -->
        <div class="gallery">
			 <div class="gallery__item">
			            <table>
	 
	 <tr>
		<!--In your face-->
		<td>
			<br>
			<a href="https://github.com/SimonLarsen/iyfct">Simon Larsen</a>
			<br>
			<a href="https://codeberg.org/glitchapp/iyfct">In your face
		<br>
			<img type="image/avif" src="mob/inyourface.avif" alt="In your face screenshot" width=200 height=200>
			</a>
		</td> 
		
		
		<!--Kristal-->
		<td>
			<br>
				<a href="https://github.com/KristalTeam/Kristal/">KristalTeam</a>
			<br>
				<a href="https://codeberg.org/glitchapp/Kristal">Kristal
			<br><img type="image/avif" src="mob/kristal.avif" alt="Kristal screenshot" width=200 height=200></a>
		</td> 
		
		<!--Ladybug-->
		<td>
			<br>
				<a href="https://github.com/muellerberndt/ladybug-love2d/">muellerberndt</a>
			<br>
				<a href="https://codeberg.org/glitchapp/love-ladybug">Ladybug
			<br><img type="image/avif" src="mob/ladybug.avif" alt="Ladybug screenshot" width=200 height=200 align="middle"></a>
		</td> 
		
		<!--tactics hex-->
		<td>
			<br>
				<a href="https://github.com/GloamingCat/Lovely-Tactics-Hex">GloamingCat</a>
			<br>
				<a href="https://codeberg.org/glitchapp/Lovely-tactics-hex">tactics hex
			<br><img type="image/avif" src="mob/tacticshex.avif" alt="tactics hex screenshot" width=200 height=200 align="middle"></a>
		</td> 
	
	
	
	<tr>
	
		<!--Match4gravitys-->
		<td>
			<br>
			<a href="https://github.com/Spex130/Love2DMatch4Gravity">Spex130</a>
			<br>
			<a href="https://codeberg.org/glitchapp/Match4Gravity">Match4gravity
		<br>
			<img type="image/avif" src="mob/match4gravity.avif" alt="Match4gravity screenshot" width=200 height=200>
			</a>
		</td> 
		
		
		<!--Max-downforce-->
		<td>
			<br>
				<a href="https://github.com/Foppygames/max-downforce">Foppygames</a>
			<br>
				<a href="https://codeberg.org/glitchapp/max-downforce-mobile">Max-downforce
			<br><img type="image/avif" src="mob/maxdownforce.avif" alt="Max-downforce screenshot" width=200 height=200></a>
		</td> 
		
		<!--Nova pinball-->
		<td>
			<br>
				<a href="https://github.com/wesleywerner/nova-pinball">wesleywerner</a>
			<br>
				<a href="https://codeberg.org/glitchapp/nova-pinball">Nova pinball
			<br><img  type="image/avif" type="image/avif" src="mob/novapinball.avif" alt="blackjack screenshot" width=200 height=200 align="middle"></a>
		</td> 
		
		<!--Oh snap aliens-->
		<td>
			<br>
				<a href="https://github.com/Nevon/Oh-snap--Aliens-">Nevon</a>
			<br>
				<a href="https://codeberg.org/glitchapp/gnoP">Oh snap aliens
			<br><img type="image/avif" src="mob/ohsnapaliens.avif" alt="Oh snap aliens screenshot" width=200 height=200 align="middle"></a>
		</td> 
	

	
	</tr>
	  </table>
	  </div>
	  </div>
	
	
		  <!-- Image Gallery -->
        <div class="gallery">
			 <div class="gallery__item">
			            <table>
	 
	 <tr>
		<!--Onion kid-->
		<td>
			<br>
			<a href="https://github.com/kivutar/onion-kidd">Kivutar</a>
			<br>
			<a href="https://codeberg.org/glitchapp/onion-kidd">Onion kidd
		<br>
			<img type="image/avif" src="mob/onionkid.avif" alt="Onion kid screenshot" width=200 height=200>
			</a>
		</td> 
		
		
		<!--Otaku ball-->
		<td>
			<br>
				<a href="https://github.com/chiud3UCI/OtakuBall">chiud3UCI</a>
			<br>
				<a href="https://codeberg.org/glitchapp/otaku-ball">Otaku ball
			<br><img type="image/avif" src="mob/otakuball.avif" alt="Otaku ball screenshot" width=200 height=200></a>
		</td> 
		
		<!--Pacpac-->
		<td>
			<br>
				<a href="https://github.com/tylerneylon/pacpac">tylerneylon</a>
			<br>
				<a href="https://codeberg.org/glitchapp/pacpac">Pacpac
			<br><img type="image/avif" src="mob/pacpac.avif" alt="Pacpac screenshot" width=200 height=200 align="middle"></a>
		</td> 
		
		<!--Mazer-->
		<td>
			<br>
				<a href="https://love2d.org/forums/viewtopic.php?p=258722#p258722">Trystan</a>
			<br>
				<a href="https://codeberg.org/glitchapp/Recursive-Backtracking-Maze-Game">Mazer
			<br><img type="image/avif" src="mob/mazer.avif" alt="Mazer screenshot" width=200 height=200 align="middle"></a>
		</td> 
	
	
	
	<tr>
	
		<!--Mr Rescue-->
		<td>
			<br>
			<a href="https://github.com/SimonLarsen/mrrescue/blob/master/LICENSE">Simon Larsen</a>
			<br>
			<a href="https://codeberg.org/glitchapp/mr-rescue-mobile/releases">Mr Rescue
		<br>
			<img type="image/avif" src="mob/mrrescue.avif" alt="Mr Rescue screenshot" width=200 height=200>
			</a>
		</td> 
		
		
		<!--Safety blanket-->
		<td>
			<br>
				<a href="https://github.com/SimonLarsen/safetyblanket">Simon Larsen</a>
			<br>
				<a href="https://codeberg.org/glitchapp/Safety-blanket">Safety blanket
			<br><img type="image/avif" src="mob/safetyblanket.avif" alt="Safety blanket screenshot" width=200 height=200></a>
		</td> 
		
		<!--Sienna-->
		<td>
			<br>
				<a href="https://github.com/SimonLarsen/sienna">SimonLarsen</a>
			<br>
				<a href="https://codeberg.org/glitchapp/Sienna">Sienna
			<br><img  type="image/avif" type="image/avif" src="mob/sienna.avif" alt="Sienna screenshot" width=200 height=200 align="middle"></a>
		</td> 
		
		<!--SNAK-->
		<td>
			<br>
				<a href="https://github.com/Keyslam/SNAK">Keyslam</a>
			<br>
				<a href="https://codeberg.org/glitchapp/SNAK">SNAK
			<br><img type="image/avif" src="mob/snak.avif" alt="SNAK screenshot" width=200 height=200 align="middle"></a>
		</td> 
	

	
	</tr>
	  </table>
	  </div>
	  </div>
</div>

</div>

