
   <!-- Videos -->
<div class="window-wider">
   <div class="title-bar" id="window1-header-videos">
	   <span class="window-title">Videos</span>
	    <div class="btn minimize-btn" onclick="minimizeWindow('window1', event)">_</div>
        <div class="btn close-btn" onclick="closeWindow('window1', event)">X</div>
	   </div>
   <div class="inner-window">
	      
  <!-- Projects Showcase Section -->
    <section id="videos">
        
        <!-- Image Gallery -->
        <div class="gallery">
			   Inertial blast II 
			 <div class="gallery__item">
				<iframe title="Inertia blast II new feature: ﻿&quot;Introducing Vega: AI Assistant with Local LLM and TTS Capabilities&quot;" width="560" height="315" src="https://video.gamerstavern.online/videos/embed/da306564-ba36-4e18-95c4-64639b684ffe" frameborder="0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups allow-forms"></iframe>
			 </div>
			Boxclip
            <div class="gallery__item">
				<iframe title="Storm, lighting, reflective materials" width="560" height="315" src="https://video.gamerstavern.online/videos/embed/17d71810-ff56-4480-8a09-4bdeb4333e41" frameborder="0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups allow-forms"></iframe>
            </div>
            
            <!--Fish fillets Vr-->
			 <div class="gallery__item">
                <iframe title="Fish fillets Vr" width="560" height="315" src="https://video.gamerstavern.online/videos/embed/fa0e4307-9454-4cd4-9428-914b37117d07" frameborder="0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups allow-forms"></iframe>
            </div>
            <!--Sienna-->
			 <div class="gallery__item">
				 <iframe title="Sienna - New illumination system and bats" width="560" height="315" src="https://video.gamerstavern.online/videos/embed/ae2dce47-c122-463e-8b50-a9a18f363869" frameborder="0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups allow-forms"></iframe>
            </div>
            
               <!--Starphase-->
			 <div class="gallery__item">
                <iframe title="Starphase" width="560" height="315" src="https://video.gamerstavern.online/videos/embed/6e6e40c1-32ac-4715-bec3-8d9c3b8cf5e7" frameborder="0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups allow-forms"></iframe>
            </div>

		         
            <!--Fish fillets remake mobile-->
			 <div class="gallery__item">
				<iframe title="Fish fillets remake Mobile" width="560" height="315" src="https://video.gamerstavern.online/videos/embed/db1fa89e-e0d0-42c7-95c9-f7e59f417a7d" frameborder="0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups allow-forms"></iframe>
            </div>
            
              <!--Fish fillets caustics-->
			 <div class="gallery__item">
               <iframe title="1 minute of caustics on fish fillets remake" width="560" height="315" src="https://video.gamerstavern.online/videos/embed/004bdb8b-7e3f-4215-887e-e2e26d6e9847" frameborder="0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups allow-forms"></iframe>
			 </div>
		
			  <!--Mr rescue -->>
			 <div class="gallery__item">
               <iframe title="Mr Rescue enhanced illumination" width="560" height="315" src="https://video.gamerstavern.online/videos/embed/096cac2f-0558-424b-8f1c-0c5dda8af2df" frameborder="0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups allow-forms"></iframe>
			 </div>
                
    	   <!--Pong Vr-->
			 <div class="gallery__item">
               <iframe title="PongVr" width="560" height="315" src="https://video.gamerstavern.online/videos/embed/12aafb65-048b-430f-8ebb-521aeb5f4358" frameborder="0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups allow-forms"></iframe>
			 </div>
            
			 
        </div>
    </section>
</div>
</div>
